<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="flat-panel">
      <div class="flat-panel-header">
        <h3>Lista użykowników
          <button *ngIf="auth.userData.admin" class="label label-success pull-right" title="Dodaj nowego usera" routerLink="new"><i class="glyphicon glyphicon-plus"></i></button>
        </h3>
      </div>
      <hr>
      <div class="flat-panel-body">
        <div style="height: 70px">
          <div class="alert alert-danger" *ngIf="error != ''" >
              <strong>Ups..</strong> {{error}}
          </div>
        </div>
        <div class="form-group row">
          <form [formGroup]="searchForm">
              <input type="text" formControlName="query" class="form-control" placeholder="Słowa kluczowe">
          </form>
        </div>
        <ul class="list-group row">
          <li class="list-group-item" routerLinkActive="active"
          *ngFor="let user of users | async"
          [routerLink]="[user._id]"
          >{{user.name||user.login}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8">
    <!--app-user-detail *ngIf="mode !='none'" [user]="selectedUser" [mode]="mode" (newUser)="newUserAdded($event)" ></app-user-detail!-->
    <router-outlet></router-outlet>
  </div>
</div>